@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: url(./paper-grunge-texture-background-animation-grey-and-white-paper-backdrop-video.jpg);
  background-repeat: no-repeat;
}

div {
  text-align: center;
  font-family: "Bona Nova SC";
  width: 50% 50%;
}

h2 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto Condensed";
}

h1 {
  text-align: center;
  color: brown;
}

.p2 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.p1 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.p3 {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  margin-top: 3em;
  padding: 1.5em 0;
}
